.moncontain {
    background-color: rgba(239, 239, 239, 0.699);
    padding: 15px;
    border-radius: 10px;
}

.ele {
    margin-top: 1%;
    opacity: 0.9;
}

.prog {
    background-color: rgb(31, 111, 151);
}

.element {
    color: rgb(54, 71, 72);
    font-size: 18px;
}

.presd {
    color: rgb(64, 92, 93);
    font-size: 16px;
}

.pa {
    color: #007ad9;
    font-size: 22px;
    font-weight: 600;
}

.item-page {
    font-size: 22px;
}

.er:hover {
    cursor: pointer;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    /* Ajustez la hauteur selon vos besoins */
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid rgb(23, 74, 125);
    /* Couleur du spinner */
    border-radius: 50%;
    width: 30px;
    /* Diamètre du spinner */
    height: 30px;
    /* Diamètre du spinner */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




/* New Spinner */

* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}

.box {
    max-width: 300px;
    width: 100%;
    padding: 0 15px;
}

/* .row {
    align-items: center;
} */

.skeleton {
    padding: 15px;
    // max-width: 300px;
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    // box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.skeleton .square {
    height: 80px;
    border-radius: 5px;
    background: rgba(130, 130, 130, 0.2);
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
    background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
    background-size: 800px 100px;
    animation: wave-squares 2s infinite ease-out;
}

.skeleton .line {
    height: 12px;
    margin-bottom: 6px;
    border-radius: 2px;
    background: rgba(130, 130, 130, 0.2);
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
    background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
    background-size: 800px 100px;
    animation: wave-lines 2s infinite ease-out;
}

.skeleton-right {
    flex: 1;
}

.skeleton-left {
    flex: 2;
    padding-right: 15px;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.skeleton .line:last-child {
    margin-bottom: 0;
}

.h8 {
    height: 8px !important;
}

.h10 {
    height: 10px !important;
}

.h12 {
    height: 12px !important;
}

.h15 {
    height: 15px !important;
}

.h17 {
    height: 17px !important;
}

.h20 {
    height: 20px !important;
}

.h25 {
    height: 25px !important;
}

.w25 {
    width: 25% !important
}

.w40 {
    width: 40% !important;
}

.w50 {
    width: 50% !important
}

.w75 {
    width: 75% !important
}

.m10 {
    margin-bottom: 10px !important;
}

.circle {
    border-radius: 50% !important;
    height: 80px !important;
    width: 80px;
}

@keyframes wave-lines {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

@keyframes wave-squares {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}


.touch:hover {
    cursor: pointer;
    color: #a7a8aa;
    background-color: #f0f0f0;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.31);
    // box-shadow: 0 2px 30px 0 rgb(0 0 0 / 16%), 0 2px 30px 0 rgb(0 0 0 / 16%);
}

.recrutement {
    padding: 1%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
}

.recrutement:hover {
    cursor: pointer;
    color: #a7a8aa;
    // border-bottom: 4px solid #007ad9;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.31);
    transition: 0.2s;
}

::ng-deep .p-menu {
    width: 300px;
    /* Set the desired width for the menu */
}

.cardRo {
    display: flex;
    align-items: center;
    /* Centre verticalement */
    justify-content: center;
    /* Centre horizontalement si nécessaire */
    height: 80vh;
    /* Ajustez la hauteur selon vos besoins */
}

.bouli {
    background-color: #fff;
    border-radius: 40px;
    padding: 10px;
}