<div class="container">
    <div class="row mt-2">
        <div class="col d-flex justify-content-center">
            <img src="assets/img/ok.png" style="height: 50px; width:50px;" class="img-responsive mon-icon" />&nbsp;
            <h5 class="mb-5 fs-6">{{ succesMessage | translate }}</h5>
            <footer class="fixed-bottom">
                <div class="d-flex justify-content-center m-3">
                    <button class="btn btn-sm btn-secondary" (click)="closeSucces()"> OK </button>
                </div>
            </footer>
        </div>
    </div>
</div>